trimmedRawData/210318/science/c4d_210319_003928_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_004532_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_005134_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_023059_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_024912_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_002721_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_003322_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_022455_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_023704_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRawData/210318/science/c4d_210319_024310_ori.fits.fz filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231854_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231855_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231856_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231871_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231813_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231819_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231845_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231835_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231836_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231846_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231860_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231869_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231816_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231820_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231834_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_232344_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231850_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231858_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231832_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231851_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231859_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_232345_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231847_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231852_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231862_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231861_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231865_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231812_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231849_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231853_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231863_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231867_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231868_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231815_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231818_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231844_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231864_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231866_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231870_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_232347_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231829_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231848_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/gaia_dr2_20200414/gaia_dr2_20200414_231857_refcats_gen2.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231844.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231850.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231851.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231860.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/232344.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/232345.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231816.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231829.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231836.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231848.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231855.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231835.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231859.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231847.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231865.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231869.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231870.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231812.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231857.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231867.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231868.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231864.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231853.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231854.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231858.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231861.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231863.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231832.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231834.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231866.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231813.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231815.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231818.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231819.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231820.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231871.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/232347.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231862.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231845.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231846.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231849.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231852.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/refcats/gen2/ps1_pv3_3pi_20170110/231856.fits filter=lfs diff=lfs merge=lfs -text
