*.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231858.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231869.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231825.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231812.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231836.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231860.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231864.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231868.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231827.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231831.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231901.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231828.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231829.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231835.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231845.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231847.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231863.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231815.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231844.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231853.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231859.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/232345.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231833.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231890.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231852.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231838.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231848.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231849.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231850.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231856.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231857.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231899.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231818.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231826.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231830.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231834.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231846.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/232347.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231813.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231837.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231867.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231896.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231816.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231862.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231865.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231871.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231851.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231820.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231866.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231819.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231861.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231854.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231870.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/232344.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231839.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231855.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231897.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/gaia_dr3_20230707/231832.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231826.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231869.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231871.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231813.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231855.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231857.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231897.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231862.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231828.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231832.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231833.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231839.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/232344.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231829.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231835.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231837.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231838.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/232347.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231816.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/232345.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231850.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231853.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231861.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231863.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231866.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231854.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231896.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231815.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231830.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231836.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231846.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231852.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231834.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231870.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231890.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231818.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231825.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231858.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231860.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231864.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231844.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231867.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231868.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231845.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231849.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231899.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231859.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231901.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231819.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231831.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231847.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231856.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231865.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231812.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231820.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231827.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231848.fits filter=lfs diff=lfs merge=lfs -text
trimmedRefcats/ps1_pv3_3pi_20170110/231851.fits filter=lfs diff=lfs merge=lfs -text
